* {
    margin: 0%;
    padding:0%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    height: 10vh;
    width: 90%;
    background-color: black;
    color:white;
}
a {
    width: min-content;
    height: min-content;
    /* background-color: red; */
}

#links {
    width: min-content;
    height: min-content;
    /* background-color: red; */
}
#log_in_form {
    height: min-content;
    position: absolute;
    top: -50px;
    right: 30px;
    /* transform: translateY(0px); */
    background-color: blue;
}

.log_in_active {
    transform: translateY(80px);
}

#log_in_button {
    color:red;
    background-color: blue;
    width:fit-content;
}

#log_in_button:hover {
    cursor: pointer;
}
